<%= form_for @changeset, @action, [class: "ui form", "data-controller": "recipe"], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="field">
    <%= label f, :name %>
    <%= text_input f, :name %>
    <%= error_tag f, :name %>
  </div>

  <div class="field">
    <%= label f, :description %>
    <%= textarea f, :description, class: "ckeditor" %>
    <%= error_tag f, :description %>
  </div>

  <%= if @changeset.data.id do %>
    <h2>Recipe</h3>

    <div class="recipe-section">
      <h3>Section 1</h4>

      <h4>Ingredients</h4>
      <ul>
        <li>
          <div class="fields">
            <input type="text" placeholder="Quantity">
            <input type="text" placeholder="Name">
            <input type="text" placeholder="Prep">
          </div>
        </li>
      </ul>

      <h4>Steps</h4>
      <div class="field">
        <textarea class="ckeditor">Step 1</textarea>
      </div>
      <div class="field">
        <textarea class="ckeditor">Step 2</textarea>
      </div>
      <div class="field">
        <textarea class="ckeditor">Step 3</textarea>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <%= submit "Save" %>
  </div>
<% end %>
