<h1>Show Dish</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @dish.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @dish.description %>
  </li>

  <li>
    <strong>Canonical:</strong>
    <%= @dish.canonical_id %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.dish_path(@conn, :edit, @dish) %></span>
<span><%= link "Back", to: Routes.dish_path(@conn, :index) %></span>
