<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>

    <title>Mealy</title>

    <script src="<%= Routes.static_path(@conn, "/js/jquery-3.4.0.js") %>" defer></script>
    <script src="<%= Routes.static_path(@conn, "/js/ckeditor-classic-15.0.0.js") %>" defer></script>

    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>" defer></script>
  </head>

  <body id="mealy-app" class="semantic-ui">
    <nav role="navigation" class="ui stackable inverted fixed main menu mobile hidden">
      <%= link "Mealy", to: "/", class: "header item" %>

      <%= link "Lists", to: Routes.list_path(@conn, :index), class: "item" %>
      <%= link "Dishes", to: Routes.dish_path(@conn, :index), class: "item" %>
      <%= link "Ingredients", to: Routes.ingredient_path(@conn, :index), class: "item" %>
      <%= link "Equipment", to: Routes.equipment_path(@conn, :index), class: "item" %>
      <%= link "People", to: Routes.person_path(@conn, :index), class: "item" %>
    </nav>

    <!-- mobile menu -->
    <div id="mobile-menu" class="slideout-menu slideout-menu-left">
      <div class="ui inverted vertical menu">
        <%= link "Mealy", to: "/", class: "item" %>
        <div class="item"></div>
        <%= link "Lists", to: Routes.list_path(@conn, :index), class: "item" %>
        <%= link "Dishes", to: Routes.dish_path(@conn, :index), class: "item" %>
        <%= link "Ingredients", to: Routes.ingredient_path(@conn, :index), class: "item" %>
        <%= link "Equipment", to: Routes.equipment_path(@conn, :index), class: "item" %>
        <%= link "People", to: Routes.person_path(@conn, :index), class: "item" %>
      </div>
    </div>
    <div id="panel" class="panel slideout-panel slideout-panel-left">
      <div class="ui mobile only">
  			<div class="ui inverted menu">
  				<a class="item mobile-menu-toggle"><i class="bars icon"></i></a>
  			</div>
      </div>
      <div class="mobile hidden" style="height: 40px;"></div>

      <main id="content-container" role="main" class="ui container">
        <%= @inner_content %>
      </main>

      <footer class="ui inverted segment">
        <div id="build-info" class="ui container">
          Mealy <%= Application.get_env(:mealy, :version) %>
          (<%= Application.get_env(:mealy, :build_number) %>) &ndash;
          <%= Timex.format! Application.get_env(:mealy, :release_built_at), "{Mfull} {D}, {YYYY}" %>
        </div>
      </footer>
    </div>
  </body>
</html>
