<h1>Show Ingredient</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @ingredient.name %>
  </li>

  <li>
    <strong>Type:</strong>
    <%= @ingredient.type %>
  </li>

  <li>
    <strong>Subtype:</strong>
    <%= @ingredient.subtype %>
  </li>

  <li>
    <strong>Plural:</strong>
    <%= @ingredient.plural %>
  </li>

  <li>
    <strong>Unit:</strong>
    <%= @ingredient.unit %>
  </li>

  <li>
    <strong>Unit type:</strong>
    <%= @ingredient.unit_type %>
  </li>

  <li>
    <strong>Canonical:</strong>
    <%= @ingredient.canonical_id %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.ingredient_path(@conn, :edit, @ingredient) %></span>
<span><%= link "Back", to: Routes.ingredient_path(@conn, :index) %></span>
