<div class="sublist">
  <div class="ui text menu">
    <div class="header item sublist__name">
      <%= @label %>
    </div>

    <div class="ui right text menu">
      <div class="ui simple borderless dropdown item">
        <i class="ellipsis vertical icon"></i>
        <div class="ui menu">
          <%#= link(Phoenix.HTML.raw(~s(<i class="level down alternate icon"></i> Zoom)), to: Routes.list_path(@socket, :show, @list), class: "item") %>
          <a class="item" href="#">Archive</a>
        </div>
      </div>
    </div>
  </div>

  <div class="sublist__items">
    <div class="ui two column grid">
      <div class="column">
        <div class="add-button">
          <i class="plus circle icon"></i>Add Dish/Meal
        </div>
      </div>
      <div class="column">
        <div class="add-button">
          <i class="plus circle icon"></i>Add Grocery List
        </div>
      </div>
    </div>
  </div>
</div>
