<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :name %>
  <%= text_input f, :name %>
  <%= error_tag f, :name %>

  <%= label f, :order %>
  <%= number_input f, :order %>
  <%= error_tag f, :order %>

  <%= label f, :date %>
  <%= datetime_select f, :date %>
  <%= error_tag f, :date %>

  <%= label f, :time %>
  <%= datetime_select f, :time %>
  <%= error_tag f, :time %>

  <div>
    <%= submit "Save" %>
  </div>
<% end %>
