<h1>Lists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Order</th>
      <th>Date</th>
      <th>Time</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for list <- @lists do %>
    <tr>
      <td><%= list.name %></td>
      <td><%= list.order %></td>
      <td><%= list.date %></td>
      <td><%= list.time %></td>

      <td>
        <span><%= link "Show", to: Routes.list_path(@conn, :show, list) %></span>
        <span><%= link "Edit", to: Routes.list_path(@conn, :edit, list) %></span>
        <span><%= link "Delete", to: Routes.list_path(@conn, :delete, list), method: :delete, data: [confirm: "Are you sure?"] %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New List", to: Routes.list_path(@conn, :new) %></span>

