<div class="sublist">
  <div class="ui text menu">
    <div class="header item sublist__name">
      <%= @list.name || @list.date %>
      <%= if @pinned do %>&nbsp;<i class="thumbtack icon"></i><% end %>
    </div>

    <div class="ui right text menu">
      <div class="ui simple borderless dropdown item">
        <i class="ellipsis vertical icon"></i>
        <div class="ui menu">
          <%= link(Phoenix.HTML.raw(~s(<i class="level down alternate icon"></i>Focus)), to: Routes.list_path(@socket, :show, @list), class: "item") %>
          <a class="item" href="#"><i class="archive icon"></i>Archive</a>
        </div>
      </div>
    </div>
  </div>

  <div class="sublist__items">
    <div class="sublist__item">test item 1</div>
    <div class="sublist__item">test item 2</div>
    <div class="ui two column grid">
      <div class="column">
        <div class="add-button">
          <i class="plus circle icon"></i>Add Dish/Meal
        </div>
      </div>
      <div class="column">
        <div class="add-button">
          <i class="plus circle icon"></i>Add Grocery List
        </div>
      </div>
    </div>
  </div>
</div>

<%= if false do %>
<%= if length(@list.children) > 0 do %>
<div class="sublist-browser">
  <div class="sublist-browser__scroll">
    <%= for list <- @list.children do %>
      <%= live_component @socket, MealyWeb.ListComponent, id: list.id, list: list %>
    <% end %>
  </div>
</div>
<% end %>

<%= if length(@list.dishes) > 0 do %>
  <h2>Dishes</h2>

  <%= for dish <- @list.dishes do %>
    <%= dish.name %>
  <% end %>
<% end %>

<%= if length(@list.ingredients) > 0 do %>
  <h2>Ingredients</h2>

  <%= for ingredient <- @list.ingredients do %>
    <%= ingredient.name %>
  <% end %>
<% end %>
<% end %>
