<h1>Edit Equipment</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.equipment_path(@conn, :update, @equipment)) %>

<span><%= link "Back", to: Routes.equipment_path(@conn, :index) %></span>
