<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :name %>
  <%= text_input f, :name %>
  <%= error_tag f, :name %>

  <%= label f, :type %>
  <%= text_input f, :type %>
  <%= error_tag f, :type %>

  <%= label f, :subtype %>
  <%= text_input f, :subtype %>
  <%= error_tag f, :subtype %>

  <div>
    <%= submit "Save" %>
  </div>
<% end %>
