<h1>Listing Equipments</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Subtype</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for equipment <- @equipments do %>
    <tr>
      <td><%= equipment.name %></td>
      <td><%= equipment.type %></td>
      <td><%= equipment.subtype %></td>

      <td>
        <span><%= link "Show", to: Routes.equipment_path(@conn, :show, equipment) %></span>
        <span><%= link "Edit", to: Routes.equipment_path(@conn, :edit, equipment) %></span>
        <span><%= link "Delete", to: Routes.equipment_path(@conn, :delete, equipment), method: :delete, data: [confirm: "Are you sure?"] %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Equipment", to: Routes.equipment_path(@conn, :new) %></span>
