<h1>Show Equipment</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @equipment.name %>
  </li>

  <li>
    <strong>Type:</strong>
    <%= @equipment.type %>
  </li>

  <li>
    <strong>Subtype:</strong>
    <%= @equipment.subtype %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.equipment_path(@conn, :edit, @equipment) %></span>
<span><%= link "Back", to: Routes.equipment_path(@conn, :index) %></span>
