#list__content-container {
  display: flex;
  max-width: 600px;
}
#list__plan {
  flex: 1 1 auto;
  width: 65%;
}
#list__plan__scroll {

}
#list__todo {
  min-width: 174px;
  width: 35%;
  margin-left: 16px;
}

.sublist-browser {
  max-width: 100%;
}
.sublist-browser__scroll {
  display: grid;
  column-gap: 16px;
  row-gap: 16px;
}
.sublist {
  padding: 12px 12px 2px;
  border-radius: 4px;
  background: #efefef;
  // box-shadow:  12px 12px 24px #bcbcbc, 
  //             -12px -12px 24px #e2e2e2;
  cursor: pointer;
  margin-bottom: 16px;

  .ui.menu {
    background: transparent;
    margin: 0;
    min-height: auto;
    // padding: 4px 0 8px;
    .header.item { padding: 4px 2px 8px; }
    .dropdown.item { padding: 4px 0 4px 10px; }
    i.icon { margin: 0; }
  }
}
.sublist__items {
  margin: 0;
  padding: 0;

  .grid { margin: 0 -1rem; .column:not(.row) { padding: 0 1rem; } }
  .add-button {
    cursor: pointer;
    // margin: 12px 0;
    padding: 10px;

    opacity: 0.6;
    transition: opacity 0.3s;
    &:hover {
      opacity: 1;
      transition: opacity 0.3s;
    }
  }
}
.sublist__item {
  cursor: pointer;
  margin: 12px 0;
  padding: 10px;
  border-radius: 6px;
  background: #ffffff;
  box-shadow:  5px 5px 8px #f2f2f2, 
               -5px -5px 8px #efefef;
}
