.phx-disconnected{
  cursor: wait;
  opacity: 0.8;
}

/* .phx-disconnected *{
  pointer-events: none;
} */
/* .phx-disconnected::before{
  -webkit-animation-play-state: running;
          animation-play-state: running;
  opacity: 1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, .5);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* @-webkit-keyframes phx-spinner {
  0% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg);
            transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(360deg);
            transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
} */
/* @keyframes phx-spinner {
  0% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg);
            transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(360deg);
            transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
} */

/* .phx-disconnected::after {
  -webkit-animation: 0.8s linear infinite phx-spinner;
          animation: 0.8s linear infinite phx-spinner;
  -webkit-animation-play-state: inherit;
          animation-play-state: inherit;
  border: solid 3px #dedede;
  border-bottom-color: #0069d9;
  border-radius: 50%;
  content: "";
  height: 40px;
  left: 50%;
  opacity: inherit;
  position: absolute;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  width: 40px;
  will-change: transform;
} */

/* .phx-error {
  background: #ffe6f0 !important;
} */
